{% extends "core/index.html" %}

{% load static %}
{% block title %} Home | {% endblock %}
{% block content %}
 <!-- start of banner -->
 <div class="banner has-text-centered">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-9-widescreen">
        <h1 class="mb-6">What Would You <br> Like To Read Today?</h1>
        <ul class="widget-list-inline mb-4">
          {% for category in categories %}
              <li class="list-inline-item">
              <a href="{% url 'category_detail' category.slug %}">
                {{ category.title }}
              </a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>


  <svg class="banner-shape-1" width="39" height="40" viewBox="0 0 39 40" fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <path d="M0.965848 20.6397L0.943848 38.3906L18.6947 38.4126L18.7167 20.6617L0.965848 20.6397Z" stroke="#040306"
      stroke-miterlimit="10" />
    <path class="path" d="M10.4966 11.1283L10.4746 28.8792L28.2255 28.9012L28.2475 11.1503L10.4966 11.1283Z" />
    <path d="M20.0078 1.62949L19.9858 19.3804L37.7367 19.4024L37.7587 1.65149L20.0078 1.62949Z" stroke="#040306"
      stroke-miterlimit="10" />
  </svg>

  <svg class="banner-shape-2" width="39" height="39" viewBox="0 0 39 39" fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_d)">
      <path class="path"
        d="M24.1587 21.5623C30.02 21.3764 34.6209 16.4742 34.435 10.6128C34.2491 4.75147 29.3468 0.1506 23.4855 0.336498C17.6241 0.522396 13.0233 5.42466 13.2092 11.286C13.3951 17.1474 18.2973 21.7482 24.1587 21.5623Z" />
      <path
        d="M5.64626 20.0297C11.1568 19.9267 15.7407 24.2062 16.0362 29.6855L24.631 29.4616L24.1476 10.8081L5.41797 11.296L5.64626 20.0297Z"
        stroke="#040306" stroke-miterlimit="10" />
    </g>
    <defs>
      <filter id="filter0_d" x="0.905273" y="0" width="37.8663" height="38.1979" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset dy="4" />
        <feGaussianBlur stdDeviation="2" />
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
      </filter>
    </defs>
  </svg>


  <svg class="banner-shape-3" width="39" height="40" viewBox="0 0 39 40" fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <path d="M0.965848 20.6397L0.943848 38.3906L18.6947 38.4126L18.7167 20.6617L0.965848 20.6397Z" stroke="#040306"
      stroke-miterlimit="10" />
    <path class="path" d="M10.4966 11.1283L10.4746 28.8792L28.2255 28.9012L28.2475 11.1503L10.4966 11.1283Z" />
    <path d="M20.0078 1.62949L19.9858 19.3804L37.7367 19.4024L37.7587 1.65149L20.0078 1.62949Z" stroke="#040306"
      stroke-miterlimit="10" />
  </svg>


  <svg class="banner-border" height="240" viewBox="0 0 2202 240" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M1 123.043C67.2858 167.865 259.022 257.325 549.762 188.784C764.181 125.427 967.75 112.601 1200.42 169.707C1347.76 205.869 1901.91 374.562 2201 1"
      stroke-width="2" />
  </svg>
</div>
<!-- end of banner -->

<section class="section pb-0">
  <div class="container">
    <div class="columns is-desktop is-multiline">
      <div class="column is-4-widescreen is-6-desktop mb-5">
        <h2 class="h5 section-title">Editors Pick</h2>
        <article class="card">
          {% if first.image %}
          <div class="post-slider slider-sm">
              <img src="{{ first.image.url }}" class="card-img-top" alt="post-thumb">
          </div>
          {% endif %}
          <div class="card-body">
            <h3 class="h4 mb-3"><a class="post-title" href="{% url 'post_detail' first.slug first.slug %}"> {{ first.title }}
            </a></h3>
            <ul class="card-meta list-inline">
              <li class="list-inline-item">
               {{ first.created_at }}
              </li>
              <li class="list-inline-item">
                <ul class="card-meta-tag list-inline">
                  <li class="list-inline-item"><a href="/{{ first.category.slug }}">{{ first.category }}</a></li>
                </ul>
              </li>
            </ul>
            <p>{{ first.intro }}</p>
            <a href="{% url 'post_detail' first.category.slug first.slug %}" class="btn btn-outline-primary">Read More</a>
          </div>
        </article>
      </div>
      <div class="column is-4-widescreen is-6-desktop mb-5">
        <h2 class="h5 section-title">Trending Post</h2>
        {% for random_post in random_posts %}
        <article class="card mb-5">
          <div class="card-body is-flex">
            <img class="card-img-sm" src="{{ random_post.image.url }}">
            <div class="ml-3">
              <h4><a href="{% url 'post_detail' random_post.category.slug random_post.slug %}" class="post-title">{{ random_post.title }}</a></h4>
              <ul class="card-meta mt-2">
                <li class="list-inline-item mb-0">
                  {{ random_post.created_at }}
                </li>
              </ul>
            </div>
          </div>
        </article>
        {% endfor%}
      </div>

      <div class="column is-4-widescreen mb-5">
        <h2 class="h5 section-title">Popular Post</h2>
        <article class="card">
          <div class="post-slider slider-sm">
            <img src="{{ last.image.url }}" class="card-img-top" alt="post-thumb">
          </div>
          <div class="card-body">
            <h3 class="h4 mb-3"><a class="post-title" href="{% url 'post_detail' last.category.slug last.slug %}">{{ last.title }}</a></h3>
            <ul class="card-meta list-inline">
              <li class="list-inline-item">
              <li class="list-inline-item">
                {{ last.created_at }}
              </li>
              <li class="list-inline-item">
                <ul class="card-meta-tag list-inline">
                  <li class="list-inline-item"><a href="/{{ last.category.slug }}">{{ last.category }}</a></li>
                </ul>
              </li>
            </ul>
            <p>{{ last.intro }}</p>
            <a href="{% url 'post_detail' last.category.slug last.slug %}" class="btn btn-outline-primary">Read More</a>
          </div>
        </article>
      </div>
      <div class="column is-12">
        <div class="border-bottom border-default"></div>
      </div>
    </div>
  </div>
</section>

<section class="section-sm">
  <div class="container">
    <div class="columns is-multiline is-desktop is-justify-content-center">
      <div class="column is-8-desktop mb-5">
        <h2 class="h5 section-title">Recent Post</h2>
        {% for random_post in random_posts %}
        <article class="card mb-4">
          <div class="post-slider">
              <div class="post-slider slider-sm">
                <img src="{{ random_post.image.url }}" class="card-img-top" alt="post-thumb" >
              </div>
          </div>
          <div class="card-body">
            <h3 class="mb-3"><a class="post-title" href="{% url 'post_detail' random_post.category.slug random_post.slug %}">{{ random_post.title }}</a></h3>
            <ul class="card-meta list-inline">
              
              <li class="list-inline-item">
              {{ random_post.created_at }}
              </li>
              <li class="list-inline-item">
                <ul class="card-meta-tag list-inline">
                  <li class="list-inline-item"><a href="/{{ random_post.category.slug }}">{{ random_post.category }}</a></li>
                </ul>
              </li>
            </ul>
            {{ random_post.intro }}
            <br>
            <a href="{% url 'post_detail' random_post.category.slug random_post.slug %}" class="btn btn-outline-primary m-2">Read More</a>
          </div>
        </article>
      {% endfor %}

        <ul class="pagination justify-content-center">
          <li class="page-item page-item active ">
            <a href="#!" class="page-link">1</a>
          </li>
          <li class="page-item">
            <a href="#!" class="page-link">2</a>
          </li>
          <li class="page-item">
            <a href="#!" class="page-link">&raquo;</a>
          </li>
        </ul>
      </div>
      <aside class="column is-4-desktop sidebar-home">
        <!-- Search -->
        <div class="widget">
          <h4 class="widget-title"><span>Search</span></h4>
            <form method="get" action="{% url 'search' %}">
              <div class="control has-icons-left">
                <input class="input is-rounded" name="query" type="text" placeholder="Search">
                <span class="icon is-left">
                  <i class="fa fa-search"></i>
                </span>
              </div>
              <button type="submit" class="btn btn-primary btn-block mt-2" >Search</button>
            </form>
        </div>

        <!-- about US -->
        <div class="widget widget-about">
          <h4 class="widget-title">Hi, we are <strong> HedgeCrypt Team </strong> </h4>
          <img class="img-fluid" width="50px" src="{% static 'core/img/Logo_HC.png' %}" alt="HedgCrypt Logo">
          <p> You wanna know more about us ? Come check us on socials </p>
          
          <a href="about-us.html" class="btn btn-primary mb-2">About Us</a>
        </div>

        <!-- authors -->
        <div class="widget widget-author">
          <h4 class="widget-title">Authors</h4>
          <div class="media align-items-center">
            <div class="mr-3">
              <img class="widget-author-image" src="{% static 'core/img/amine.jpeg' %}" alt="Amine">
            </div>
            <div class="media-body">
              <h5 class="mb-1"><a class="post-title" href="/amine">Amine</a></h5>
              <span>Author &amp; developer of the  <strong style="color: #FF387E;"> HedgeCrypt</strong> website</span>
            </div>
          </div>
          <div class="media align-items-center">
            <div class="mr-3">
              <img class="widget-author-image" src="{% static 'core/img/Sami.jpeg' %}" alt="Sami">
            </div>
            <div class="media-body">
              <h5 class="mb-1"><a class="post-title" href="author-single.html">Sami</a></h5>
              <span>Author &amp;  developer of the <strong style="color: #FF387E;"> HedgeCrypt</strong> website</span>
            </div>
          </div>
          <div class="media align-items-center">
            <div class="mr-3">
              <img class="widget-author-image" src="{% static 'core/img/yassmine.jpeg' %}" alt="Yassmine">
            </div>
            <div class="media-body">
              <h5 class="mb-1"><a class="post-title" href="author-single.html">Yassmine</a></h5>
              <span>Author &amp;developer of the  <strong style="color: #FF387E;"> HedgeCrypt</strong> website</span>
            </div>
          </div>
        </div>
        <!-- Search -->

        <div class="widget">
          <h4 class="widget-title"><span>Never Miss A News</span></h4>
          <form action="#!" method="post" name="mc-embedded-subscribe-form" target="_blank" class="widget-search">
            <input class="mb-3" id="search-query" name="s" type="search" placeholder="Your Email Address">
            <i class="ti-email"></i>
            <button type="submit" class="btn btn-primary btn-block" name="subscribe">Subscribe now</button>
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_463ee871f45d2d93748e77cad_a0a2c6d074" tabindex="-1">
            </div>
          </form>
        </div>

        <!-- categories -->
        <div class="widget widget-categories">
          <h4 class="widget-title"><span>Categories</span></h4>
          <ul class="list-unstyled widget-list">
            {% for category in categories %}
            <li><a href="{% url 'category_detail' category.slug %}" class="d-flex">{{ category.title }} </a></li>
            {% endfor %}
          </ul>
        </div><!-- tags -->
        <div class="widget">
          <h4 class="widget-title"><span>Tags</span></h4>
          <ul class="widget-list-inline widget-card">
            {% for category in categories %}
            <li class="list-inline-item"> 
            <a href="{% url 'category_detail' category.slug %}">
              {{ category.title }}
            </a></li>
            {% endfor %}
          </ul>

        </div><!-- recent post -->
        <div class="widget">
          <h4 class="widget-title">Recent Post</h4>
          <!-- post-item -->
          {% for random_post in random_posts %}
            <article class="widget-card">
              <div class="is-flex">
                <img class="card-img-sm" src="{{ random_post.image.url }}">
                <div class="ml-3">
                  <h5><a class="post-title" href="{% url 'post_detail' random_post.category.slug random_post.slug %}">{{ random_post.title }}</a></h5>
                  <ul class="card-meta mt-3">
                    <li class="list-inline-item mb-0">
                      {{ random_post.created_at }}
                    </li>
                  </ul>
                </div>
              </div>
            </article>
          {% endfor %}
        </div>
      </aside>
    </div>
  </div>
</section>
 
{% endblock %}
  