{% extends "core/index.html" %}

{% load static %}
{% block title %} {{ post.title}} | {% endblock %}
{% block content %}

<div class="py-4"></div>
<section class="section">
  <div class="container">
    <div class="columns is-multiline is-desktop is-justify-content-center">
      <div class="column is-9-desktop mb-5">
        <article>
          <div class="post-slider mb-4">
            <img src="{{ post.image.url }}" class="card-img" alt="post-thumb">
          </div>

          <h1 class="h2">{{ post.title }} </h1>
          <ul class="card-meta my-3 list-inline">
            <li class="list-inline-item">
              {{ post.created_at }}
            </li>
            <li class="list-inline-item">
              <ul class="card-meta-tag list-inline">
                <li class="list-inline-item"><a href="tags.html">{{ post.category }}</a></li>
              </ul>
            </li>
          </ul>
          <div class="content">
            <p>{{ post.intro }}</p>
            <p>{{ post.body }}</p>
          </div>
        </article>

      </div>

      <div class="column is-9-desktop mt-4">
        <div class="pt-5">
          <form method="POST">
            {% csrf_token %}
            <!-- {{ form.as_p }} -->
            <div class="columns is-multiline">
              <div class="input-group py-0 column is-12">
                <textarea class="input" name="comment" columnss="7" required></textarea>
              </div>
              <div class="input-group py-0 column is-4-desktop">
                <input class="input" type="text" placeholder="Name" required>
              </div>
              <div class="input-group py-0 column is-4-desktop">
                <input class="input" type="email" placeholder="Email" required>
              </div>
              <div class="input-group py-0 column is-4-desktop">
                <input class="input" type="url" placeholder="website" required>
              </div>
            </div>
            <button class="btn btn-primary" type="submit"> Submit comment</button>
          </form>
        </div>
        <div class="mb-5 border-top mt-4 pt-5">
          <h3 class="mb-5">Comments</h3>

            {% for comment in post.comments.all %}
            <div class="block mb-4 pb-4">

            <a href="#!" class="h4 d-inline-block mb-3">{{ comment.name }}</a>
            <p> {{ comment.body }}</p>
            <span class="text-black-800 mr-3 font-weight-600">{{comment.created_at|timesince}} ago</span>
          </div>

            {% endfor %}





        </div>
      </div>

    </div>
  </div>
</section>
{% endblock %}