{% extends "core/index.html" %}

{% load static %}
{% block title %} Privacy Policy for HedgeCrypt
{% endblock %}
{% block content %}
<div class="banner has-text-centered">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-9-widescreen">
          <h1 class="mb-6">Our Privacy Policy</h1>
            <ul class="list-inline">
                <li class="list-inline-item"><a class="text-default" href="">Home
              &nbsp; &nbsp; /</a></li>
          <li class="list-inline-item text-primary">Our Privacy Policy</li>
        </div>
      </div>
    </div>
  
  
    <svg class="banner-shape-1" width="39" height="40" viewBox="0 0 39 40" fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path d="M0.965848 20.6397L0.943848 38.3906L18.6947 38.4126L18.7167 20.6617L0.965848 20.6397Z" stroke="#040306"
        stroke-miterlimit="10" />
      <path class="path" d="M10.4966 11.1283L10.4746 28.8792L28.2255 28.9012L28.2475 11.1503L10.4966 11.1283Z" />
      <path d="M20.0078 1.62949L19.9858 19.3804L37.7367 19.4024L37.7587 1.65149L20.0078 1.62949Z" stroke="#040306"
        stroke-miterlimit="10" />
    </svg>
  
    <svg class="banner-shape-2" width="39" height="39" viewBox="0 0 39 39" fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <g filter="url(#filter0_d)">
        <path class="path"
          d="M24.1587 21.5623C30.02 21.3764 34.6209 16.4742 34.435 10.6128C34.2491 4.75147 29.3468 0.1506 23.4855 0.336498C17.6241 0.522396 13.0233 5.42466 13.2092 11.286C13.3951 17.1474 18.2973 21.7482 24.1587 21.5623Z" />
        <path
          d="M5.64626 20.0297C11.1568 19.9267 15.7407 24.2062 16.0362 29.6855L24.631 29.4616L24.1476 10.8081L5.41797 11.296L5.64626 20.0297Z"
          stroke="#040306" stroke-miterlimit="10" />
      </g>
      <defs>
        <filter id="filter0_d" x="0.905273" y="0" width="37.8663" height="38.1979" filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
          <feOffset dy="4" />
          <feGaussianBlur stdDeviation="2" />
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
        </filter>
      </defs>
    </svg>
  
  
    <svg class="banner-shape-3" width="39" height="40" viewBox="0 0 39 40" fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path d="M0.965848 20.6397L0.943848 38.3906L18.6947 38.4126L18.7167 20.6617L0.965848 20.6397Z" stroke="#040306"
        stroke-miterlimit="10" />
      <path class="path" d="M10.4966 11.1283L10.4746 28.8792L28.2255 28.9012L28.2475 11.1503L10.4966 11.1283Z" />
      <path d="M20.0078 1.62949L19.9858 19.3804L37.7367 19.4024L37.7587 1.65149L20.0078 1.62949Z" stroke="#040306"
        stroke-miterlimit="10" />
    </svg>
  
  
    <svg class="banner-border" height="240" viewBox="0 0 2202 240" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M1 123.043C67.2858 167.865 259.022 257.325 549.762 188.784C764.181 125.427 967.75 112.601 1200.42 169.707C1347.76 205.869 1901.91 374.562 2201 1"
        stroke-width="2" />
    </svg>
  </div>
  <!-- end of banner -->
<section class="section-sm">
  <div class="container">
    <div class="columns">
      <div class="column is-10-widescreen mx-auto">
        <div class="pt-4">
            <h1 class="mb-4">Privacy Policy for HedgeCrypt </h1>
          <p> At HedgeCrypt, accessible from http://www.hedgcrypt.org, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by HedgeCrypt and how we use it.</p>
          <p> If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>
          <p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in HedgeCrypt. This policy is not applicable to any information collected offline or via channels other than this website.</p>
          <h3 class="mb-3" id="Consent">Consent</h3>
          <p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>
          <h3 class="mb-3" id="information-we-collect">Information we collect</h3>
          <p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.</p>
          <p>If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</p>
          <p>When you register for an Account, we may ask for your contact information, including items such as name, company name, address, email address, and telephone number. </p>
          <h3 class="mb-3" id="how-we-use-informations">Information we collect</h3>
          <p> We use the information we collect in various ways, including to:</p>
          <p> <ul> 
            <li><strong>-</strong> Provide, operate, and maintain our website </li>
            <li><strong>-</strong> Improve, personalize, and expand our website </li>
            <li><strong>-</strong> Understand and analyze how you use our website</li>
            <li><strong>-</strong> Develop new products, services, features, and functionality</li>
            <li><strong>-</strong> Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website, and for marketing and promotional purposes</li>
            <li><strong>-</strong> Send you emails</li>
            <li><strong>-</strong> Find and prevent fraud</li>
        </ul></p>
        <h3 class="mb-3" id="log-files">Log Files</h3>
          <p> HedgeCrypt follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.</p>
          <h3 class="mb-3" id="cookies-and-web-beacons">Cookies and Web Beacons</h3>
          <p> Like any other website, HedgeCrypt uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.</p>
          <h3 class="mb-3" id="google-doubleClick-DART-Cookie">Google DoubleClick DART Cookie</h3>
          <p> Google is one of a third-party vendor on our site. It also uses cookies, known as DART cookies, to serve ads to our site visitors based upon their visit to www.website.com and other sites on the internet. However, visitors may choose to decline the use of DART cookies by visiting the Google ad and content network Privacy Policy at the following URL – https://policies.google.com/technologies/ads </p>
          <h3 class="mb-3" id="our-advertising-partners">Our Advertising Partners</h3>
          <p> Some of advertisers on our site may use cookies and web beacons. Our advertising partners are listed below. Each of our advertising partners has their own Privacy Policy for their policies on user data. For easier access, we hyperlinked to their Privacy Policies below.
            <ul>
                <li>
                    Google | 
                    https://policies.google.com/technologies/ads
                </li>
            </ul></p>
          <h3 class="mb-3" id="advertising-partners-privacy-policies">Advertising Partners Privacy Policies</h3>
          <p> You may consult this list to find the Privacy Policy for each of the advertising partners of HedgeCrypt.</p>
          <p> Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on HedgeCrypt, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</p>
          <p> Note that HedgeCrypt has no access to or control over these cookies that are used by third-party advertisers.</p>

          <h3 class="mb-3" id="Third-Party-Privacy-Policies">Third Party Privacy Policies</h3>
          <p> HedgeCrypt's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options.</p>
          <p> You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites.</p>

          <h3 class="mb-3" id="CCPA">CCPA Privacy Rights (Do Not Sell My Personal Information)
        </h3>
          <p> Under the CCPA, among other rights, California consumers have the right to:</p>
          <p> Request that a business that collects a consumer's personal data disclose the categories and specific pieces of personal data that a business has collected about consumers.

        </p>
          <p> Request that a business delete any personal data about the consumer that a business has collected.

        </p>
          <p> Request that a business that sells a consumer's personal data, not sell the consumer's personal data.</p>
          <p> If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>

          <h3 class="mb-3" id="GDPR">GDPR Data Protection Rights
        </h3>
          <p> We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:

        </p>
          <p> The right to access – You have the right to request copies of your personal data. We may charge you a small fee for this service.

        </p>
          <p> The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.

        </p>
          <p> The right to erasure – You have the right to request that we erase your personal data, under certain conditions.

        </p>
          <p>The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.

        </p>
          <p> The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.

        </p>
          <p>The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.

        </p>
          <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.

        </p>

          <h3 class="mb-3" id="Children-Information">Children's Information
        </h3>
          <p> Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.

        </p>
          <p> HedgeCrypt does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.</p>

       </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
