<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}HedgeCrypt</title>
        <link rel="stylesheet" type="text/css">
        <script src="https://kit.fontawesome.com/99b0590667.js" crossorigin="anonymous"></script>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.3/css/bulma.min.css">
        
        <!-- Bulma template for navbar -->
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
              body {font-family: 'Nunito', sans-serif;};
            nav.navbar {
              height: 6rem !important;
              box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06) !important;
            }
          </style>
    </head>
    <body>
        <nav class="navbar" style="border-bottom: solid rgb(191, 191, 191) 1px; padding-bottom: 15px;">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        <strong> HedgeCrypt </strong>
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                    <span></span>
                    <span></span>
                    </span>
                </div>
                
                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <div class=" navbar-item">
                            <div class="control has-icons-left">
                              <input class="input is-rounded" type="email" placeholder="Search">
                              <span class="icon is-left">
                                <i class="fa fa-search"></i>
                              </span>
                            </div>
                          </div>
                        <a class="navbar-item is-active">
                                Home
                            </a>
                        <a class="navbar-item">
                                Articles
                            </a>
                        <a class="navbar-item">
                                Tutorials
                            </a>
                        <a class="navbar-item">
                                About  
                            </a>
                        <a class="navbar-item">
                                Contact us
                            </a>
                        <a class="navbar-item">
                                Help
                            </a>
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                    Account
                                </a>
                            <div class="navbar-dropdown">
                                <a class="navbar-item">
                                        Dashboard
                                    </a>
                                <a class="navbar-item">
                                        Profile
                                    </a>
                                <a class="navbar-item">
                                        Settings
                                    </a>
                                <hr class="navbar-divider">
                                <div class="navbar-item">
                                    Logout
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="is-divider"></div>

        <section class="section"> 
            <div class="container">
                {% block content %}  
                {% endblock %}
            </div>
        </section>

        <footer class="footer">
            <div class="content has-text-centered">
              <p>
                <strong>HedgeCrypt - Copyright © </strong> by <a href="https://www.linkedin.com/in/amine-bouzid-818465173"> Amine </a> - <a
                  href="https://www.linkedin.com/in/samibouzid"> Sami </a> - <a
                  href="https://www.linkedin.com/in/yassmine-bouzid-047a82221/"> Yassmine</a>
              </p>
            </div>
        </footer>

        <script>
            document.addEventListener('DOMContentLoaded', () => {
        
              // Get all "navbar-burger" elements
              const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        
              // Check if there are any navbar burgers
              if ($navbarBurgers.length > 0) {
        
                // Add a click event on each of them
                $navbarBurgers.forEach(el => {
                  el.addEventListener('click', () => {
        
                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);
        
                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
        
                  });
                });
              }
        
            });
          </script>
    </body>
</html>